header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  width: 100%;
  //background: brown;
}

.logo {
}

.img_logo {
  width: 3em;
  height: 3em;
}

.toggle {
  input[type="checkbox"] {
    display: none;
  }

  label {
    color: #000000;
    position: relative;
  }

  input[type="checkbox"] + label::before {
    content: " ";
    display: block;
    height: 18px;
    width: 45px;
    border: 1px solid black;
    border-radius: 9px;
    position: absolute;
    top: 0px;
    left: -65px;
    background: #600707;
  }

  input[type="checkbox"] + label::after {
    content: "RU";
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid #0022ff;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -75px;
    background: #1aff00;
    transition: all 0.3s ease-in;
  }

  input[type="checkbox"]:checked + label::after {
    content: "EN";
    left: -40px;
    transition: all 0.3s ease-in;
  }
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;

  button {
    border-radius: 10px;
    padding: 7px;
    border: 1px #242424 solid;
    background: #600707;
  }
  button:hover {
    background: blueviolet;
    color: #600707;
  }
}

.link {
  display: none;
}
