$base-color-white: #bbb;
$base-color-dark: #232323;

$color-background-light: #f7f9fc;
$color-box-shadow: rgba(0, 0, 0, 0.1);
$color-tab-default: #e9ecef;
$color-tab-hover: #dee2e6;
$color-tab-active: #007bff;
$color-tab-text: #333;
$color-white: #ffffff;
$color-border: #ced4da;
$color-label-text: #495057;
$color-input-focus-border: #007bff;
$color-button-bg: #007bff;
$color-button-hover-bg: #0056b3;
$color-button-bg-disabled: #cccccc;
$color-text-disabled: #666666;
$color-text-error: #dc3545;
