html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
main {
  margin-top: 4em;
  flex: 1;
  text-align: center;
}

.CodeMirror {
  min-width: 15rem;
  padding: 1rem;
  margin: 1rem;
  height: fit-content;
}
