html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
main {
  margin-top: 4em;
  flex: 1;
  text-align: center;
}

.CodeMirror {
  min-width: 380px;
  padding: 0.5rem;
  margin: 0.05rem;
  height: fit-content;
}
